<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>247296415191-95ks21kan18a13loq29p6jdlaaq38slq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.247296415191-95ks21kan18a13loq29p6jdlaaq38slq</string>
	<key>API_KEY</key>
	<string>AIzaSyBDJE_MMVucKUlXyyXR7PzOHJaNhdn9uTo</string>
	<key>GCM_SENDER_ID</key>
	<string>247296415191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vox.Klozet</string>
	<key>PROJECT_ID</key>
	<string>klozet-vox</string>
	<key>STORAGE_BUCKET</key>
	<string>klozet-vox.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247296415191:ios:b8bc783b71b17f58</string>
	<key>DATABASE_URL</key>
	<string>https://klozet-vox.firebaseio.com</string>
</dict>
</plist>